{%extends request.user.is_authenticated|yesno:'logout_layout.html,layout.html'%}

{% block css %}

div.centerThis{
display: inline-flex;
justify-content: center;
align-items: center;
}

{% endblock %}

{% block body %} {% load static %}

<div class="container-fluid my-3">
    <ul class="list-group" id="items">
    </ul>
</div>

<div class=" centerThis container-fluid my-2">
    <h3 id="total" class="p-2 mx-2"></h3>
</div>

<div class="container my-3 border boredr-2 border-dark">
    <form action="/checkout/" method="post">
        {% csrf_token %}
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <input type="hidden" class="form-control" id="itemsJSON" name="itemsJSON" value="This is empty" />
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <input type="hidden" class="form-control" id="orderCost" name="orderCost" value="-1" />
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col">
                    <label for="phone" class="col col-form-label fs-4">Phone</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="phone" name="phone_num"
                        placeholder="Enter Phone Number" />
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col">
                    <label for="address" class="col col-form-label fs-4">Address</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address" />
                </div>
            </div>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary btn-lg my-3" onclick="emptyLocal()">
                Order
            </button>
        </div>
    </form>
</div>

{% endblock %}


{% block js %}
<script>

    // Creates the elements in the cart display
    function createLi(name, qty, price) {

        //The list element for an item
        var li = document.createElement("li");
        // Adding the classes in it
        li.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");

        // The span element for an item and adding classes in it        
        var span = document.createElement("span");
        span.classList.add("badge", "bg-primary", "rounded-pill");

        var divSub = document.createElement("div");
        divSub.classList.add("fw-bold");

        var divHold = document.createElement("div");
        divHold.classList.add("ms-2", "me-auto");

        let nameNode = document.createTextNode(name);
        let qtyNode = document.createTextNode(qty + " * " + price);
        let priceTotalNode = document.createTextNode((price * qty));

        divSub.appendChild(nameNode);
        divHold.appendChild(divSub);
        divHold.appendChild(qtyNode);

        span.appendChild(priceTotalNode);

        li.appendChild(divHold);
        li.appendChild(span);

        return li;
    }

    // If there is no cart then make one otherwise load it.
    if (localStorage.getItem("cart") == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem("cart"));
    }

    // Sends the cart to DB
    var tempVar = document.getElementById("itemsJSON");
    let cartAsStr = JSON.stringify(cart);
    tempVar.value = cartAsStr;

    // Holds total price
    var totalPrice = 0;

    // Creates the display for what items are in cart
    for (item in cart) {
        let name = item;
        let qty = cart[item][0];
        let price = cart[item][1];
        totalPrice += (qty*price);
        if (qty != 0) {
            var itemList = document.getElementById("items");
            itemList.appendChild(createLi(name, qty, price));
        }
    }

    // Sends the total cost
    var theCost = document.getElementById("orderCost");
    theCost.value = totalPrice;

    var sumTag = document.getElementById("total");
    sumTag.innerText = "Total cost = " + totalPrice;

    function emptyLocal() {
        localStorage.clear();
    }


</script>
{% endblock %}