{%extends request.user.is_authenticated|yesno:'logout_layout.html,layout.html'%}

{% block css %}

{% endblock %}

{% block body %} {% load static %}

<div class="container-fluid my-3">
    <ul class="list-group" id="items">
    </ul>
</div>

<div class="container-fluid my-3">
    <form action="" method="post">
        {% csrf_token %}
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <input
                        type="hidden"
                        class="form-control"
                        id="itemsJSON"
                        name="itemsJSON"
                        value = "This is empty"
                    />
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col">
                    <label for="phone" class="col col-form-label fs-4">Phone</label>
                </div>
                <div class="col-9">
                    <input
                        type="text"
                        class="form-control"
                        id="phone"
                        name="phone_num"
                        placeholder="Enter Phone Number"
                    />
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row align-items-center">
                <div class="col">
                    <label for="address" class="col col-form-label fs-4">Address</label>
                </div>
                <div class="col-9">
                    <input
                        type="text"
                        class="form-control"
                        id="address"
                        name="address"
                        placeholder="Enter Address"
                    />
                </div>
            </div>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary btn-lg my-3" onclick="emptyLocal()">
                Order
            </button>
        </div>
    </form>
</div>

{% endblock %}


{% block js %}
<script>

    // If there is no cart then make one otherwise load it.
    if (localStorage.getItem("cart") == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem("cart"));
    }

    var tempVar = document.getElementById("itemsJSON");
    let cartAsStr = JSON.stringify(cart);
    tempVar.value = cartAsStr;

    function createLi(name, qty) {
        var li = document.createElement("li");
        li.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");
        var span = document.createElement("span");
        span.classList.add("badge", "bg-primary", "rounded-pill");
        var nameNode = document.createTextNode(name);
        var qtyNode = document.createTextNode(qty);
        span.appendChild(qtyNode);
        li.appendChild(nameNode);
        li.appendChild(span);
        return li;
    }

    function emptyLocal() {
        localStorage.clear();
    }

    for (item in cart) {
        let name = item;
        let qty = cart[item];
        if (qty != 0) {
            var itemList = document.getElementById("items");
            itemList.appendChild(createLi(name, qty));
        }
    }

</script>
{% endblock %}